.ul {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}

.completed {
  background-color: rgb(228, 228, 228);
}

.completed_task {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.editing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 0px 20px;
  min-width: 300px;
}

.editing_input {
  width: 140px;
  padding: 4px 10px;
  border: 1px solid rgb(228, 228, 228);
  transition: border-color 0.3s;
  border-radius: 6px;
}

.editing_input:focus {
  border-color: #000000;
  outline: none;
}

.id {
  border-radius: 6px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: white;
}

.show_buttons {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  gap: 10px 10px;
  flex-wrap: wrap;
}

.li {
  padding: 10px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 6px;
  white-space: normal;
  word-wrap: break-word;
}

.group_buttons {
  display: flex;
  gap: 0px 10px;
}

.button_edit {
  background-color: rgb(82, 93, 250);
  border: none;
  color: white;
  border-radius: 6px;
  padding: 6px 10px;
  transition: scale 0.3s;
}

.button_edit:active {
  scale: 97%;
}

.button_show {
  background-color: black;
  border: none;
  color: white;
  border-radius: 6px;
  padding: 6px 10px;
  transition: scale 0.3s;
  transition: background-color 0.5s;
  border: 2px solid black;
  outline: none;
}

.button_show:active {
  scale: 97%;
}

.active {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(46, 46, 46);
  color: #000000;
}

.button_del {
  background-color: rgb(247, 95, 95);
  border: none;
  color: white;
  border-radius: 6px;
  padding: 6px 10px;
}

.button_save {
  background-color: rgb(66, 228, 93);
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  padding: 6px 10px;
}

.button_cancel {
  background-color: rgb(247, 95, 95);
  border: none;
  color: white;
  border-radius: 6px;
  padding: 6px 10px;
}

.task {
  width: 150px;
  gap: 0px 20px;
  white-space: normal;
  word-wrap: break-word;
}

.customCheckbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkboxInput {
  display: none;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

.checkboxInput:checked + .checkbox {
  background-color: #000000;
  border-color: #000000;
}

.checkboxInput:checked + .checkbox::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

@media (min-width: 443px) {
  .editing {
    min-width: 404px;
    gap: 0px 40px;
  }

  .editing_input {
    width: 200px;
  }
}

@media (min-width: 768px) {
  .li {
    width: 500px;
  }

  .editing_input {
    padding: 8px 10px;
  }

  .task {
    width: 300px;
  }

  .button_edit {
    padding: 10px 20px;
  }

  .button_show {
    padding: 10px 20px;
  }

  .button_del {
    padding: 10px 20px;
  }

  .button_save {
    padding: 10px 20px;
  }

  .button_cancel {
    padding: 10px 20px;
  }

  .editing {
    width: 500px;
  }

  .editing_input {
    width: 280px;
  }
}

@media (min-width: 1440px) {
  .li {
    width: 700px;
  }
  .task {
    width: 460px;
  }

  .editing {
    width: 700px;
  }

  .editing_input {
    width: 460px;
  }
}
